.teste {
    height: 560px;
    background-color: #EEEEEE;
    border-radius: 32px;
    
    -webkit-box-shadow: 0px 0px 20px 3px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(179,179,179,1);
    box-shadow: 0px 0px 20px 3px rgba(179,179,179,1);
    /* padding: 12px; */
}

.card-container {
    padding: 10px;
    border-radius: 24px;
    background-color: #F9F9F9;
    min-height: 64px;

    -webkit-box-shadow: 0px 0px 20px 3px rgba(179,179,179,0.3);
    -moz-box-shadow: 0px 0px 20px 3px rgba(179,179,179,0.3);
    box-shadow: 0px 0px 20px 3px rgba(179,179,179,0.3);
}

.side-menu-header {
    height: 64px;
    width: 100%;
    /* background-color: cadetblue; */
}

.profile-photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #C5C5C5;
}

.output-container {
    height: 240px;
    overflow-y: scroll;
}