/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    overflow: auto;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* overflow-x: hidden; */

    background-color: #C2C6CF;
    padding: 25px;
}

.title {
    font-weight: 700;
}

.sub-title {
    font-size: 14px;
    font-weight: 600;
}

span {
    font-size: 14px;
}

.big{
    font-size: 16px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* background-color: rgb(224, 224, 224); */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #C4C4C4;
}

textarea {
    background-color: transparent;
    height: 220px;
    width: 100%;
    border-radius: 4px;
    border: solid 0.5px rgba(228, 228, 228, 0.486);
    resize: none;
    font-size: 13px;
}

input, textarea, button:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 12px;
    padding: 4px 10px;
    color: #171717;
    background-color: #FFE600;
    text-transform: uppercase;
    font-weight: 600;
}

button:hover{
    background-color: rgb(255, 217, 0);
}